<html ng-app="myApp">
    <head>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body ng-controller="myController">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form role="form">
                    <div class="form-group">
                        <input
                            ng-model="user.username"
                            id="username"
                            type="text"
                            class="form-control"
                            placeholder="Enter username">
                    </div>
                    <button
                        ng-click="reDrawGraph()"
                        type="submit"
                        class="btn btn-default">Show Graph</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div id='graph1'></div>
        </div>
        <script src="jquery.min.js"></script>
        <script src="vivaGraph.js"></script>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </body>
</html>